@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url("../fontawesome-free-6.6.0-web/css/all.min.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

li.activate {
    @apply bg-primarylight_opacity_25;
}

video {
    @apply rounded-lg;
}

canvas {
    @apply w-full;
    @apply object-contain;
    @apply absolute;
    @apply top-0;
    @apply h-full;
}

aside.sidemenu.expanded .withdrawn {
    display: none;
}

aside.sidemenu.expanded .expanded,
aside.sidemenu.expanded li span.title {
    display: block;
    @apply opacity-100;
}

aside.sidemenu .expanded {
    display: none;
}

aside.sidemenu.expanded {
    @apply w-full;
}

.select.active .items {
    @apply translate-y-0;
    @apply h-24;
}

.select .items .item.selected {
    @apply bg-neutralblack;
    @apply text-neutralwhite;
}

.select.active .head i.down {
    @apply hidden;
}

.select .head i.up {
    @apply hidden;
}

.select.active .head i.up {
    @apply block;
}
br{
    @apply hidden;
}